* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
}

ul {
    list-style: none;
}

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 30px auto;
}

.carousel__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    position: relative;
    height: 100%;
    background: lightgreen;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button svg {
    width: 40px;
    height: 40px;
}
.carousel__button--left {
    left: -50px;
}

.carousel__button--right {
    right: -50px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .5);
}
